h1{
    font-family: 'Sue Ellen Francisco', cursive;
    text-shadow: 2px 2px #bfffdc;
    margin-top: 55px;
}
p{font-family: 'Special Elite', cursive;
font-size: 18px;}
body{
    text-align: center;
    background: linear-gradient(#ffbfeb,#c08cff,#8cbaff,#8ce0ff,#9dff8c,#fff58c,#ffbe8c,#ff3d3d);
    background-repeat: no-repeat;
}
section{
    padding: 100px;
}
img{
    width: 80%;
    height: 50%;
    
}
.li{
    display: inline;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;


}
ul{
    position: absolute;
    list-style: none;
    cursor: pointer;
    background-color: #d6fff0;
    width: 85%;
    text-align: center;
    top: 0;
    margin-top: 0;
    
    
}
html{
    scroll-behavior: smooth;
}
.li:hover{
    color:floralwhite;
   }

.a{
    font-size: 35px;
    font-family: 'Sue Ellen Francisco', cursive;
    color:blanchedalmond;
}